<div id='menu'>
    <table class="center">
        <tr>
            <td align="center">
                <h1 class='red'>Red&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1> <h1 class='shift'>&nbsp;Shift</h1>
           </td>
        </tr>
        <tr>
           <td align="center">
                <button data-ng-click='newgame()'>start</button>
           </td>
        </tr>
        <tr>
           <td align="center">
                <button data-ng-click='scores()'>score table</button>
           </td>
        </tr>
        <tr>
           <td align="center">
                <h2>about</h2>
           </td>
        </tr>
    </table>
</div>

