<div id='menu'>
    
    <h1 class='red' style ="top: -5%; left: 5%; position: absolute;" ng-style="titleStyle">Red</h1>
    <table style="vertical-align:middle; height: 100%; width: 100%; position: absolute;">
        <tr>
            <td>
                <table class="center">
   
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='newgame()' ng-style="menuButtonStyle">start</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='scores()' ng-style="menuButtonStyle">score table</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='about()' ng-style="menuButtonStyle">about</button>
                       </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <h1 class='shift' style ="bottom: -5%; right: 5%; position: absolute;" ng-style="titleStyle">Shift</h1>
    
</div>


