<div id='scores'>
    <table class="center">
        <tr>
            <td align="center">
                <h1 class='red'>Red&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1> <h1 class='shift'>&nbsp;Shift</h1>
           </td>
        </tr>
        <tr>
           <td align="center">
                <button ng-click='back()'>back</button>
           </td>
        </tr>
    </table>
    
    

        <span>{{remaining()}} of {{scoreTable.length}} remaining</span>
            <table>
                <tr ng-repeat="score in scoreTable">
                    <td>{{score.moves}}</td>
                    <td>{{score.tag}}</td>
                    <td>{{score.date}}</td>
                </tr>
            </table>
            <form ng-submit="addScore()">
                <input type="text" ng-model="tag"  size="30" placeholder="add new score here">
                <input class="btn-primary" type="submit" value="add">
            </form>

    
</div>

