<div id='scores'>
    <table class="center">
        <tr>
            <td align="center">
                <h1 class='red'>Red&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1> <h1 class='shift'>&nbsp;Shift</h1>
           </td>
        </tr>
        <tr>
           <td align="center">
                <button ng-click='back()'>back</button>
           </td>
        </tr>
    </table>
    
    

        <span>{{remaining()}} of {{scoreTable.length}} remaining</span>
            <table>
                 <thead>
                    <tr>
                        <th>Moves</th>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr ng-repeat="score in scoreTable | orderBy:sortOrder">
                        <td>{{score.moves}}</td>
                        <td>{{score.tag}}</td>
                        <td>{{score.date}}</td>
                    </tr>
                 </tbody>
            </table>

    
</div>

