<div id='about'>
    
    <canvas id='redshiftCanvas' style="position:absolute">    </canvas>
    
  
    <table style="vertical-align:middle; height: 100%; width: 100%; position: absolute;">
        <tr>
            <td>
                <div style="text-align:center;">
                    <button  class="menu" ng-click='back()' ng-style="menuButtonStyle"></button>
                </div><br/>
                <table class="center">
                    <tr>
                       <td align="center">
                            Developed by <button  class="menuLink" ng-click='linkDirtyRect()'>@dirtyRectangle</button>
                       </td>
                    </tr>
                    <tr>
                        <td align="center">
                           <!--a href="http://github.com/col42dev/whiffenspoof">source code</a-->
                           <button  class="menuLink" ng-click='linkCol42dev()'>source code</button>
                        </td>            
                    </tr>
                </table>
            </td>
        </tr>
    </table>

     <div ng-style="menuButtonStyle" style ="bottom: 12px; left: 4px; position: absolute;">
        <button  ng-click='back()'  ng-style="menuButtonStyle" style="background-color:transparent; text-align:left; border-width:0px">&#x2347</button>
     </div>
 
</div>

