<div id='difficultyMenu'>
    
    <h1 class='red' style ="top: -5%; left: 5%; position: absolute;" ng-style="titleStyle">RED</h1>
    <table style="vertical-align:middle; height: 100%; width: 100%; position: absolute;">
        <tr>
            <td>
                <table class="center">
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='Hughes()' ng-style="menuButtonStyle">Hughes Puzzle</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='Dads()' ng-style="menuButtonStyle">Dad's Puzzler</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='Whiffen()' ng-style="menuButtonStyle">Whiffen-Spoof</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='Ushi()' ng-style="menuButtonStyle">Ushi</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='back()' ng-style="menuButtonStyle">back</button>
                       </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <h1 class='shift' style ="bottom: -5%; right: 5%; position: absolute;" ng-style="titleStyle">SHIFT</h1>
    
</div>


