 <div id='game' >
   
    <canvas id='myCanvas' style="position:absolute" >    </canvas>
            
    <div id='myMoveCounterDiv' ng-style="moveCounterStyleDiv" style="position:absolute; vertical-align:text-top; text-align:right; color:rgb(200,0,0); font-family:Verdana; font-style:bold"  >{{moveCounter}}</div>

    <div id='myTagEntry' ng-style="tagEntryStyleDiv" style ="position:relative; width=100%" >
         <form ng-submit="addScore()" ng-show="showTagEntry" style="text-align:center">

            <input type="text" ng-model="tagname"  ng-style="tagEntryStyle" placeholder="enter name" maxlength="6"><br>
            <input type="submit" value="add"  ng-style="tagEntryStyle">

         </form>
     </div>
    
     <div ng-style="menuButtonStyle" style ="bottom: -4px; right: 4px; position: absolute;">
        <button  ng-click='back()'  ng-style="menuButtonStyle" style="font-style:bold; background-color:transparent; text-align:right; border-width:0px">&#x2347</button>
     </div>
  
</div>