<div id='instructionsMenu'>
    
    <canvas id='redshiftCanvas' style="position:absolute" >    </canvas>
    
    <table style="vertical-align:middle; height: 100%; width: 100%; position: absolute;">
        <tr>
            <td>
                <table class="center">
                    <tr>
                       <td align="center">
                            <span>{{instructions}}</span>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='start()' ng-style="menuButtonStyle">start</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='back()' ng-style="menuButtonStyle">back</button>
                       </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    
</div>


