<div id='instructionsMenu'>
    
    <canvas id='redshiftCanvas' style="position:absolute" >    </canvas>
    
    
    <table style="top: 15%; left:5%; width: 100%; position: absolute;">
        <tr>
            <td>
                <table class="left" style="width:60%; color:rgb(200,0,0); font-weight:bold; font-family:verdana" ng-style="instructionTextStyle">
                    <tr>
                       <td align="left" >
                            <span class="instructions" ng-bind="instructions"></span>
                       </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    
    <table style="vertical-align:middle; height: 100%; width: 100%; position: absolute;">
        <tr>
            <td>
                <table class="center" style="width:60%; color:rgb(200,0,0); font-weight:bold; font-family:verdana">
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='back()' ng-style="menuButtonStyle"></button>
                       </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div ng-style="menuButtonStyle" style ="top: 12px; right: 4px; position: absolute;">
        <button  data-ng-click='start()'  class="button pulse" ng-style="menuButtonStyle" style="background-color:transparent; text-align:right; border-width:0px">&#x25b6;</ button>
    </div>

    <div ng-style="menuButtonStyle" style ="bottom: 12px; left: 4px; position: absolute;">
        <button  data-ng-click='back()'  ng-style="menuButtonStyle" style="font-style:bold; background-color:transparent; text-align:left; border-width:0px">&#x2347</button>
    </div>

    
</div>


