<div id='menu'>
    
    <canvas id='redshiftCanvas' style="position:absolute" ></canvas>   
  
    <table style="vertical-align:middle; height: 100%; width: 100%; position: absolute;">
        <tr>
            <td>
                <table class="center">
   
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='newgame()' ng-style="menuButtonStyle">start</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='scores()' ng-style="menuButtonStyle">score table</button>
                       </td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                       <td align="center">
                            <button class="menu" data-ng-click='about()' ng-style="menuButtonStyle">about</button>
                       </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
        
         
    
 
    
</div>


