<div id='scores'>  
    <h1 class='red' style ="top: -5%; left: 5%; position: absolute;" ng-style="titleStyle">RED</h1>
    
    <table style="vertical-align:middle; height: 100%; width: 100%; position: absolute;">
        <tr>
            <td>
                <div style="text-align:center;">
                    <button  class="menu" ng-click='back()' ng-style="menuButtonStyle">back</button>
                </div><br>
                <button  class="menu" ng-click='toggleMenuGameLevel()' ng-style="menuSmallButtonStyle">{{menuGameLevelName}}</button><br>
                <table ng-show="showTable"  class="left">
                     <thead>
                        <tr>
                            <th align="left">Moves</th>
                            <th align="left">Name</th>
                            <th align="left">Date</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="score in getFilteredScoreTable() | orderBy:sortOrder ">
                            <td align="left">{{score.moves}}</td>
                            <td align="left">{{score.tag}}</td>
                            <td align="left">{{score.date}}</td>
                        </tr>
                     </tbody>
                </table>
            </td>
        </tr>
    </table>

    <h1 class='shift' style ="bottom: -5%; right: 5%; position: absolute;" ng-style="titleStyle">SHIFT</h1>
</div>

