
table.menu {
    color:red;
    font-family:verdana;
}


table.center {
    margin-left:auto; 
    margin-right:auto;
}
table.left {

}

body   {
    margin:0 auto; /* this stop resize event from being called after device re-orientation */
}

html, body   {
    height: 100%;
}


button.menu {
    font-size:50px;
    background: rgba(0, 0, 0, 0); 
    border-width:0px;
}

button.menuLink {
    font-size:20px;
    color: rgba(0,0,0,1);
    background: rgba(0, 0, 0, 0); 
}

@-webkit-keyframes pulse_animation {
    0% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1); }
    40% { -webkit-transform: scale(1.18); }
    50% { -webkit-transform: scale(1); }
    60% { -webkit-transform: scale(1); }
    70% { -webkit-transform: scale(1.11); }
    80% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

.pulse {
    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 5000ms;
    -webkit-transform-origin:70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
