
table.menu {
    color:red;
}


table.center {
    margin-left:auto; 
    margin-right:auto;
}
table.left {

}

body   {
    margin:0 auto; /* this stop resize event from being called after device re-orientation */
}

html, body   {
    height: 100%;
}


button.menu {
    font-size:50px;
}

button.menuLink {
    font-size:20px;
    color: rgba(0,0,0,1);
    background: rgba(0, 0, 0, 0); 
}
